@page
@model MtgCustomCardsApp0._2.Pages.CardCreatorModel
@{
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MTG Card Creator</title>
</head>

<body>

    <h1 class="text-center display-3">Magic the Gather Card Creation Template</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                 <div class="card">
                    <form method="post" action="">
                        <fieldset id="card-name-mana" class="card-header bg-dark">
                            <label for="card-name"><input id="card-name" name="card-name" type="text" maxlength="22" required placeholder="Card Name..." /></label>
                            <label for="mana-cost"><input id="mana-cost" name="mana-cost" type="text" maxlength="22" required placeholder="Mana Cost..." /></label>
                        </fieldset>
                        <div class="card-body bg-gradient">
                            <fieldset id="card-image-field">
                                <label for="card-image">
                                    <input id="card-image" type="file" name="file" placeholder="Card image goes here... Click on the image to upload a file." required />
                                </label>
                            </fieldset>
                            <fieldset id="card-type-field">
                                <label for="card-type"><input id="card-type" name="card-type" type="text" maxlength="22" placeholder="Card Type..." /></label>
                                <label for="card-sub-type"><input id="card-sub-type" name="card-sub-type" type="text" maxlength="22" placeholder="Card Sub-Type..." /></label>
                            </fieldset>
                            <div id="card-box-contain">
                                <fieldset id="card-text-field" class="row-cols-5">
                                    <label for="card-text">
                                        <textarea id="card-text" name="card-text" placeholder="Card Text...(max 266 characters)" maxlength="266"></textarea>
                                    </label>
                                </fieldset>
                                 <fieldset id="card-flavor-text-field">
                                    <label for="card-flavor-text">
                                        <textarea id="card-flavor-text" name="card-flavor-text" placeholder="Card Flavor Text...(max 82 characters)" maxlength="82"></textarea>
                                    </label>
                                </fieldset>
                            </div>
                                <fieldset id="card-power-toughness">
                                    <label for="card-power"><input id="card-power" rows="2" cols="2" name="card-power" type="text" placeholder="P" maxlength="2" /></label>
                                    <label for="card-toughness"><input id="card-toughness" rows="2" cols="2" name="card-toughness" type="text" placeholder="T" maxlength="2" /></label>
                                </fieldset>

                            <fieldset id="card-illustrator">
                                <label for="card-illus"><input id="card-illus" name="card-illus" type="text" maxlength="31" placeholder="illustrator" /></label>
                            </fieldset>

                        </div>

                        <button class="btn card-footer" id="create-btn" type="submit" value="Submit">Create Card</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

</html>
