@page
@model IndexModel
@{
    ViewData["Title"] = "MTG Card Creator";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MTG Card Creator</title>
</head>

<body>
    <div class="container" id="box-items">

            <div class="col-lg-6" id="box-items">        
            <h1>Magic The Gathering Card Creator</h1>
            <p>If you're looking to create your own MTG custom card, look no further!</p>

            <p>Note that colorless mana must come first as a number, followed by any other mana type (repeat letters if multiple). </p>
            <p>Follow the example below to adhere to our requirements, otherwise some pieces will be missing:</p>
            <p>Have fun!</p>
            </div>

        <div class="col-lg-5" id="box-items">
            <div class="p-4 border border-5 mt-3">3URB - This equates to: 3 Colorless, Blue, Red and Black.</div>
            <div class="p-4 border border-5 mt-3">UUWB - This equates to: Two Blue, White and Black.</div>
            <div class="p-4 border border-5 mt-3">Leave empty if you desire a no mana cost card.</div>
        </div>

        <div class="col-lg-3 row-cols-sm-auto mt-4 front-card" id="box-items">
            <h4>Card Example:</h4>
            <img class="container mb-5 mt-2 example-card" src="/assets/pageImages/ExampleCard.png" alt="Magic The Gathering Card Example" />
        </div>
    </div>
</body>

</html>