.card {
    margin-top: 5%;
}

.card-body {
    border: 20px solid black;
    border-radius: 15px;
    background-image: linear-gradient(180deg, rgb(175, 165, 136), rgb(94, 82, 68));
}

.art-bg {
    background-image: url(/assets/pageImages/Rocco-Cabaretti-Caterer-Streets-of-New-Capenna-MtG-Art.jpg), url(/assets/pageImages/Ziatoras-Envoy-Streets-of-New-Capenna-MtG-Art.jpg);
    background-position: left top, right top;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

#card-name, #mana-cost, #card-type, #card-sub-type, #card-text, #card-flavor-text,
#card-power, #card-toughness, #card-illus, #create-btn {
    color: white;
}