.card {
    margin-top: 5%;
}

.card-body {
    border: 20px solid black;
    border-radius: 15px;
    background-image: linear-gradient(180deg, rgb(175, 165, 136), rgb(94, 82, 68));
}

#card-name, #mana-cost, #card-type, #card-sub-type, #card-text, #card-flavor-text,
#card-power, #card-toughness, #card-illus, #card-rarity, #create-btn {
    color: white;
}

form {
    display: inline-block;
}

.field {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
label {
    color: white;
    order: -1;
    padding-left: 10px;
    transition: all 0.3s ease-in;
    transform: translateY(-30px);
    pointer-events: none;
}

input:focus + label {
    transform: translateY(5px);
}
