<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MtgCustomCardsApp0._2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/MtgCustomCardsApp0._2.styles.css" asp-append-version="true"/>
</head>
<body class="art-bg">
<div class="container" style="min-height:100vh; position: absolute; top:0; left: 50%; transform: translateX(-50%); z-index:-1"></div>
<header class="sticky-top">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
        <nav class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Mtg Custom Card App</a>
            @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
            @*         aria-expanded="false" aria-label="Toggle navigation"> *@
            @*     <span class="navbar-toggler-icon"></span> *@
            @* </button> *@
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a> *@
                    @* </li> *@
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Cards" asp-action="CardCreator">CardCreator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Cards" asp-action="Library">Library</a>
                    </li>
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </nav>
    </nav>
</header>

<div class="container">
    <div class="container">
        <main role="main" class="py-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" id="footer">
        <div class="container">
            &copy; 2023 - MtgCustomCardsApp - Website created by Austin Funk and Haroutun Panosyan - Background illustrations by Chris Seaman and Tuan Duong Chu - 
            <a href="https://github.com/TrillOnGit/CustomCardApp">
                GitHub Repository
            </a>
        </div>
    </footer>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>