@model MtgCustomCardsApp0._2.Models.Card

<h2>Update @Model.Name</h2>

@using (Html.BeginForm("", "Cards", "Post"))
{
    <input asp-for="CardId" type="hidden" value="@Model.CardId" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.Name" />

    <label asp-for="CardText" class="control-label">Text</label>    
    <input type="number" step="0.01" name="Text" class="form-control" value="@Model.CardText" />

    <input type="submit" value="Update Card" class="btn btn-primary" />
}